.nq-button::-moz-focus-inner,
.nq-button-s::-moz-focus-inner {
  border: 0;
}

.nq-button {
  position: relative;
  height: 3rem;
  line-height: 2.5rem;
  color: var(--beige);
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.094em;
  border: none;
  padding: 0 2rem;
  border-radius: 500px;
  min-width: 5rem;
  margin: 0.25rem;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: transform 450ms var(--nimiq-ease),
    box-shadow 450ms var(--nimiq-ease);
  will-change: box-shadow;
  text-decoration: none;
  display: block;
  text-align: center;
  font-family: inherit;
}

.nq-button:hover,
.nq-button:focus {
  box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0.2);
  transform: translate3D(0, -2px, 0);
}

.nq-button:hover::before,
.nq-button:active::before,
.nq-button:focus::before {
  opacity: 1;
}

.nq-button:active {
  outline: none;
  box-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.2);
  transform: translate3D(0, 1px, 0);
  transition: transform 200ms cubic-bezier(0.41, 0.34, 0.26, 1.55),
    box-shadow 200ms cubic-bezier(0.41, 0.34, 0.26, 1.55) !important;
}

.nq-button:disabled,
.nq-button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  box-shadow: none;
}

.nq-button:disabled:hover,
.nq-button:disabled:focus {
  box-shadow: none;
  transform: none;
  cursor: default;
}

/* Color variations */

/* green */
.nq-button {
  color: var(--beige);
  background: var(--green);
}

.nq-button::before {
  background-image: var(--brown);
}

/* Focus Ring for Tabs – can be optimized in the future with better :focus-visible support */

.nq-button::after {
  content: "";
  position: absolute;
  left: -5px;
  top: -5px;
  right: -5px;
  bottom: -5px;
  border: 2px solid var(--soft-brown); /* Based on Nimiq Light Blue */
  border-radius: 500px;
  opacity: 0;
}

.nq-button:focus,
.nq-button-s:focus,
.nq-button-pill:focus {
  outline: none;
}

.nq-button:focus::after {
  opacity: 1;
}

@media (max-width: 1024px) {
  .nq-button {
    font-size: 0.75rem;
    line-height: 1.2rem;
  }
}
