.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #454545;
  gap: 24px;
  text-align: center;
  margin: 10px;
}

.subtitle {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.title {
  font-family: "QuickZap";
  font-size: 48px;
  font-weight: 400;
  line-height: 58px;
  text-align: center;
  text-transform: uppercase;
  color: var(--secondary);
}

.highlight {
  color: var(--primary);
}

.copyAddr {
  background-color: #fffcf8;
  width: 264px;
  height: 40px;
  padding: 8px 16px;
  gap: 8px;
  border-radius: 8px;
  box-shadow: 0px 2px 30px 0px #0000000f;
  display: flex;
  cursor: pointer;
}
