.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 88vh;
    color: var(--dark-content);
    width: 100%;
  }
  
  .subtitle {
    margin-bottom: 0.5rem;
    color: #454545;
    font-size: 14px;
    line-height: 20px;
  }
  
  .tree1,
  .tree2 {
    position: fixed;
  
    width: 392px;
    height: 394px;
    left: -65px;
    bottom: -1px;
  
  }
  .balloon,
  .coconut {
    position: fixed;
    width: 130px;
    height: 130px;
  }
  
  .balloon{
    transform: translate(300px, 50px);
  }
  
  .coconut {
    width: 64px;
    height: 64px;
    transform: translate(1100px, 250px);
  }
  
  .starknet {
    width: 32px;
    height: 32px;
    transform: translate(-450px, 130px);
  }
  
  .tree2 {
    left: auto;
    right: -65px;
  }
  
  .title {
    text-align: center;
  
    /* Title/H1 */
    font-family: "QuickZap";
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 58px; /* 120.833% */
    color: var(--secondary);
    max-width: 618px;
    min-width: 358px;
  }
  
  .paragraph{
    max-width: 487px;
    min-width: 358px;
    height: 72px;
    text-align: center;
    font-weight: 400;
    font-family: Poppins-Regular;
    line-height: 24px;
    color: #8C8989;
  }
  
  .last{
    text-align: center;
    font-weight: 400;
    font-family: Poppins-Regular;
    line-height: 24px;
    color: #8C8989;
  }
  
  .letter{
    display: none;
  }
  
  .title strong {
    color: var(--primary);
    font-family: "QuickZap";
  }
  
  .description {
    max-width: 500px;
    color: #8C8989;
    text-align: center;
    font-family: Poppins-Regular;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-top: 1rem;
  }
  
  .form {
    margin-top: 3rem;
    width: 30rem;
    max-width: 90%;
  }
  
  .errorMessage {
    color: var(--negative);
    text-align: center;
    margin-bottom: 0.5rem;
  }
  
  .input {
    display: flex;
    height: 56px;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
    align-self: stretch;
    margin-bottom: 1.5rem;
    background-color: var(--background);
    border: 1px solid #cdcccc;
    padding: 0 10px;
    color: var(--brown);
    background: white;
    box-shadow: var(--small-shadow);
    border-radius: 0.5rem;
    max-width: calc(100vw - 2rem);
    width: 500px;
  }
  
  .errorMessage + input {
    border: 1px solid var(--negative);
  }
  
  .confirmContainer {
    width: 100%;
    height: 100vh;
    padding-top: calc(max(12vh, 80px) + 64px);
    display: flex;
    background-color: var(--background-light);
  }
  
  .bannerContainer {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 20px;
    background: var(--dark-content);
  
    /* Small Shadow */
    box-shadow: var(--small-shadow);
    padding: 46px;
  }
  
  .confirmBanner {
    border-radius: 20px;
  }
  
  .confirmContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem;
  }
  
  @media screen and (max-width: 768px) {
    .tree1,
    .tree2 {
      bottom: -200px;
    }
  
    .tree1{
      left: -200px;
    }
  
    .tree2{
      right: -100px;
  
    }
    
    .balloon {
      position: absolute;
      transform: rotate(-14.355deg);
      left: 25px;
      top: 80px;
  
    }
  
    .paragraph{
      margin-bottom: 30px;
    }
  
    .title {
      font-size: 32px;
      line-height: 42px;
    }
  
    .last{
      display: none;
    }
  
    .letter{
      display: block;
    }
  
    .confirmContent{
        margin-bottom: 4rem;
    }
  }
  