.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px);
  color: #454545;
  gap: 24px;
  text-align: center;
  margin: 10px;
  position: relative;
  z-index: 1;
}

.subtitle {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.title {
  font-family: "QuickZap";
  margin-top: 3rem;
  font-size: 48px;
  font-weight: 400;
  line-height: 58px;
  text-align: center;
  text-transform: uppercase;
  color: var(--secondary);
  max-width: 1000px;
}

.description {
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.01em;
  text-align: center;
  max-width: 560px;
  font-family: "Poppins-Regular";
}

.highlight {
  color: var(--primary);
}

.strong {
  font-family: "Poppins-Bold";
}

.backButton {
  font-family: "QuickZap";
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
}

.coconutLeft {
  position: fixed;
  left: -10px;
  bottom: 0px;
  width: 250px;
  overflow: hidden;
}

.coconutRight {
  position: fixed;
  right: -10px;
  bottom: 0px;
  width: 250px;
  overflow: hidden;
}

.balloon {
  position: fixed;
  top: 100px;
  left: 100px;
  width: 130px;
  overflow: hidden;
  z-index: -1;
}

.metamask {
  position: fixed;
  bottom: 220px;
  right: 150px;
  width: 130px;
  overflow: hidden;
}
@media (max-width: 834px) {

 .title{
  margin-top: -8rem;
  max-width: 700px;
  line-height: 46px;
 }
 .metamask{
  bottom: 280px;
  right: 100px;
 }
 .balloon {
  top: 200px;
  left: 60px;
  overflow: hidden;
}
}
@media (max-width: 768px){
  .balloon {
    top: 130px;
    left: 60px;
  }
}
@media (max-width: 428px) { 
  .title{
    margin-top: 3.5rem;
    line-height: 46px;
    max-width: 300px;
  }
  .coconutLeft {
    left: -60px;
    bottom: -150px;
    width: 200px;
  }
  .balloon {
    top: 90px;
    left: -5px;
    width: 130px;
  }
  .metamask{
    display: none;
  }
  .coconutRight {
    right: -40px;
    bottom: -150px;
    width: 200px;
  }
}

@media (max-width: 390px) {
  .title{
    margin-top: 6rem;
    line-height: 46px;

  }
  .coconutLeft {
    left: -90px;
    bottom: -175px;
    width: 200px;
  }
  .balloon {
    top: 64px;
    left: -8px;
    width: 115px;
  }
  .metamask{
    display: none;
  }
  .coconutRight {
    right: -40px;
    bottom: -150px;
    width: 200px;
  }
}

@media (max-width: 320px) {
  .coconutLeft,
  .coconutRight{
    display: none;
  }
  .title{
    margin-top: 9rem;
    line-height: 28px;
  }

  .balloon {
   display: none;
  }
}

@media (max-width: 1084px) {
  .container {
    padding: 0 12px;
    margin-top: 60px;
  }
  .title {
    font-size: 30px;
  }

}
