.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 90%;
}

.container {
  max-width: 80%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  background: transparent;
  border: none;
  box-shadow: none;
}

.domain {
  height: 32px;
  font-family: "QuickZap";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 32px;
  color: var(--secondary);
  flex: none;
  order: 0;
  flex-grow: 0;
}

.detouredLogo {
  position: absolute;
  right: 175px;
  top: 13px;
}

.detouredTextLogo {
  position: absolute;
  right: 30px;
  top: 30px;
}

@media (max-width: 1024px) {
  .domain {
    font-size: 20px;
  }

  .container {
    max-width: 80%;
    height: auto;
    background: transparent;
    border: none;
    box-shadow: none;
  }

  .detouredTextLogo,
  .detouredLogo {
    visibility: hidden;
  }
}
