.clickableIcon {
  cursor: pointer;
  border-radius: 25%;
}

.clickablePlus {
  cursor: pointer;
  border-radius: 25%;
  margin: 1rem;
}

.clickablePlus :hover {
  background-color: rgba(82, 45, 24, 0.063);
  border-radius: 25%;
  padding: 1rem;
}

.clickableIcon :hover {
  background-color: rgba(82, 45, 24, 0.063);
  border-radius: 25%;
  padding: 0.1rem;
}

.unclickableIconTwitter,
.unclickableIconDiscord,
.clickableIconDiscord,
.clickableIconGithub,
.clickableIconTwitter {
  background-color: #55acee;
  border-radius: 25%;
  padding: 0.5rem;
  cursor: pointer;
  position: relative;
}

.clickableIconAnima {
  background-color: #55acee;
  border-radius: 25%;
  padding: 0.2rem;
  cursor: pointer;
  position: relative;
}

.verifiedIcon {
  position: absolute;
  top: -0.3rem;
  right: -0.3rem;
}

.clickableIconGithub {
  background-color: #24292e;
}

.clickableIconDiscord {
  background-color: #7289d9;
}

.unclickableIconDiscord {
  background-color: #7289d9;
  cursor: default;
}

.unclickableIconTwitter {
  cursor: default;
}

.button_icon {
  width: 24px;
  margin-right: 12px;
}

.clickableIconAnima {
  background-color: #FFFFFF;
}

.tooltip {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 6px;
}

.tooltipTitle {
  font-family: "QuickZap";
  color: var(--content-800, #454545);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  margin: 3px 0 7px;
}

.tooltipSub {
  color: var(--content-600, #8c8989);
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  opacity: 0.8;
}
