.clickableIcon {
  cursor: pointer;
  margin: 0.5rem;
  border-radius: 25%;
  position: relative;
}

.clickablePlus {
  cursor: pointer;
  border-radius: 25%;
  margin: 1rem;
}

.clickablePlus :hover {
  background-color: rgba(82, 45, 24, 0.063);
  border-radius: 25%;
  padding: 1rem;
}

.clickableIcon :hover {
  background-color: rgba(82, 45, 24, 0.063);
  border-radius: 25%;
  padding: 0.25rem;
}
