.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 90%;
}

.container {
  position: relative;
  box-sizing: border-box;
  overflow-wrap: break-word;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 650px;
  height: 350px;
  box-shadow: 0px 6px 80px rgba(64, 45, 40, 0.15);
  background: radial-gradient(
    55.2% 127.01% at 50% 50%,
    var(--secondary300) 0%,
    #faefde 100%
  );
  border-width: 1px 6px 0px 1px;
  border-style: solid;
  border-color: var(--tertiary);
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}

.domain {
  height: 32px;
  font-family: "QuickZap";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 32px;
  color: var(--secondary);
  flex: none;
  order: 0;
  flex-grow: 0;
}

.detouredLogo {
  position: absolute;
  right: 175px;
  top: 13px;
}

.detouredTextLogo {
  position: absolute;
  right: 30px;
  top: 30px;
}

.lg1 {
  position: absolute;
  right: -130px;
  bottom: -190px;
  transform: rotate(-40deg);
}

.lg2 {
  position: absolute;
  left: -230px;
  top: -150px;
  transform: rotate(80deg);
}

.cardCode {
  /* Placement */
  background-color: var(--background);
  height: 83px;
  width: 650px;
  border-width: 0px 6px 4px 1px;
  border-style: solid;
  border-color: var(--tertiary);
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  margin-top: -1px;

  /* Inside */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "QuickZap";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.8em;
  color: var(--secondary300);
}

.identityCardSkeleton {
  width: 650px;
  height: 433px;
}

.identitiesActionsSkeletonButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.expiryContainer {
  display: inline-flex;
  padding: 4px 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: var(--primary-300, #dcf2e9);

  /* Small Shadow */
  box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 0.06);
}

.expiryText {
  color: var(--primary-700, #19aa6e);
  text-align: center;

  /* Body/micro/medium */
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 133.333% */
}

.pfpSection {
  height: 170px;
  width: 170px;
  margin-top: 0.25rem; 
  margin-bottom: 0.75rem; 
  position: relative;
}

.pfp {
  height: 170px;
  width: 170px;
  border: 2px solid var(--primary);
  background:#FFF;
  border-radius: 19px;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.pfpImg {
  border-radius: 19px;
}

.pfp p, .mobilePfp p {
  color: #B0AEAE;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

.mobilePfp {
  position: absolute;
  border-radius: 100px;
  background: #FFF;
  padding: 4px 13px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  bottom: 7px;
  right: 7px;
}
.mobilePfp p {
  color:  #6C5D59;
}

@media (max-width: 1124px) {
  .identityCardSkeleton {
    width: 300px;
    height: 300px;
  }
  .domain {
    font-size: 20px;
  }
  .lg1 {
    visibility: hidden;
  }
  .lg2 {
    visibility: hidden;
  }
  .container {
    max-width: 80%;
    height: auto;
    background: transparent;
    border: none;
    box-shadow: none;
  }
  .cardCode {
    width: 0px;
    height: 0px;
    visibility: hidden;
  }

  .detouredTextLogo,
  .detouredLogo {
    visibility: hidden;
  }
}
