.galeryContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  max-width: 50rem;
}

.imageGallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  cursor: pointer;
  position: relative;
  border-radius: 20px;
  background: var(--background-light);
  box-shadow: var(--small-shadow);
  padding: 24px;
  border: 2px solid transparent;
}

.imageGallery:hover {
  box-shadow: var(--large-shadow);
  border: 2px solid var(--primary);
}

.expiryWarning {
  position: absolute;
  top: 42px;
  right: 42px;
}

.containerIdentity {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 100%;
}

.identitiesSkeleton {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  gap: 32px;
}

.identityBox {
  display: flex;
  padding: 1rem;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

@media (min-width: 1124px) {
  .identityBox {
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
  }
}

@media (max-width: 768px) {
  .expiryWarning {
    position: relative;
    top: 0;
    left: 0;
  }
}
