.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 90%;
}

.container {
  position: relative;
  box-sizing: border-box;
  overflow-wrap: break-word;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 650px;
  max-width: 650px;
  height: 350px;
  box-shadow: 0px 6px 80px rgba(64, 45, 40, 0.15);
  background: radial-gradient(
    55.2% 127.01% at 50% 50%,
    var(--secondary300) 0%,
    #faefde 100%
  );
  border-width: 1px 6px 0px 1px;
  border-style: solid;
  border-color: var(--tertiary);
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}

.domain {
  height: 32px;
  font-family: "QuickZap";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 32px;
  color: #454545;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-top: 7px;
}

.detouredLogo {
  position: absolute;
  right: 175px;
  top: 13px;
}

.detouredTextLogo {
  position: absolute;
  right: 30px;
  top: 30px;
}

.lg1 {
  position: absolute;
  right: -130px;
  bottom: -190px;
  transform: rotate(-40deg);
}

.lg2 {
  position: absolute;
  left: -230px;
  top: -150px;
  transform: rotate(80deg);
}

.cardCode {
  /* Placement */
  background-color: var(--background);
  height: 83px;
  width: 650px;
  max-width: 650px;
  border-width: 0px 6px 4px 1px;
  border-style: solid;
  border-color: var(--tertiary);
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  margin-top: -1px;

  /* Inside */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "QuickZap";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.8em;
  color: var(--secondary300);
}

.identityCardSkeleton {
  width: 650px;
  height: 433px;
}

.identitiesActionsSkeletonButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.expiryContainer {
  display: inline-flex;
  padding: 4px 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: var(--primary-300, #dcf2e9);

  /* Small Shadow */
  box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 0.06);
}

.expiryText {
  color: var(--primary-700, #19aa6e);
  text-align: center;

  /* Body/micro/medium */
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 133.333% */
}

.pfpSection {
  height: 170px;
  width: 170px;
  margin-top: 0.25rem;
  margin-bottom: 0.75rem;
  position: relative;
}

.pfp {
  height: 170px;
  width: 170px;
  border: 2px solid var(--primary);
  background: #fff;
  border-radius: 19px;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.pfpImg {
  border-radius: 19px;
}

.pfp p,
.mobilePfp p {
  color: #b0aeae;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

.mobilePfp {
  position: absolute;
  border-radius: 100px;
  background: #fff;
  padding: 4px 13px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  bottom: 7px;
  right: 7px;
}
.mobilePfp p {
  color: #6c5d59;
}

.addressBar {
  display: flex;
  flex-direction: row;
  color: #454545;
  font-size: 14px;
}

.starknetAddr {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.evmAddr {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12px;
  cursor: pointer;
  font-size: 13px;
  color: #454545;
  margin-bottom: 0;
}

.evmAddrBtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-top: 0.5rem;
  border: 1px solid #cdcccc;
  box-shadow: 0px 2px 30px 0px #0000000f;
  background-color: #fff;
  padding: 10px 16px;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  max-width: 230px;
}

.evmIcon {
  width: 20px;
  height: 20px;
}

@media (min-width: 1024px) {
}

@media (max-width: 1124px) {
  .identityCardSkeleton {
    width: 300px;
    height: 300px;
  }
  .pfpSection {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  .pfpImg {
    width: 180px;
    height: 180px;
  }
  .domain {
    font-size: 20px;
    margin-top: 0;
    margin-left: 8px;
  }
  .addressBar {
    margin-top: 1rem;
    margin-bottom: 1rem;
    justify-content: center;
    align-items: center;
    background-color: var(--light-tertiary);
    width: fit-content;
    border-radius: 16px;
    padding: 9px;
    width: 100%;
  }
  .addressBar svg {
    width: 24px;
    height: 24px;
  }
  .lg1 {
    visibility: hidden;
  }
  .lg2 {
    visibility: hidden;
  }
  .container {
    width: 100%;
    height: fit-content;
  }
  .wrapper {
    max-width: 100%;
    margin-bottom: 17px;
  }
  .cardCode {
    width: 100%;
    padding: 0 1rem;
  }
  .detouredTextLogo,
  .detouredLogo {
    visibility: hidden;
  }

  .evmAddrBtn {
    margin-bottom: 24px;
  }

  .evmAddr {
    margin-bottom: 48px;
  }
}

/* 0x123 */
