.imageGallery {
  cursor: pointer;
  margin: 1rem;
  height: 160px;
  margin-bottom: 3rem;
  position: relative;
}

.expiryWarning {
  position: absolute;
  top: -10px;
  right: -10px;
}

.containerIdentity {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 100%;
}

.identitiesSkeleton {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.identitiesActionsSkeletonButtons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.identityBox {
  display: flex;
  padding: 1rem;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

@media (min-width: 1024px) {
  .identityBox {
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
  }
}
