.domain {
  height: 32px;
  font-family: "QuickZap";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 32px;
  color: #402d28;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.container {
  position: relative;
  box-sizing: border-box;
  overflow-wrap: break-word;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  overflow: hidden;
  width: 100%;
  height: 70%;

  background: radial-gradient(
      55.2% 127.01% at 50% 50%,
      #eae0d5 0%,
      #fff9f0 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;

  border: 2px solid #bf9e7b;
  box-shadow: 0px 2.62766px 35.0355px rgba(64, 45, 40, 0.15);
  border-radius: 13.1383px;
}

.container:hover {
  border-color: var(--green);
}

.lg1 {
  position: absolute;
  width: (308.16 / 3) px;
  height: (378.56 / 3) px;
  right: -50px;
  bottom: -140px;
}

.lg2 {
  position: absolute;
  width: (397.34 / 3) px;
  height: (446.38 / 3) px;
  left: -120px;
  bottom: -160px;
}

@media (max-width: 1024px) {
  .domain {
    font-size: 20px;
  }
  .container {
    height: 100%;
  }
  .lg1 {
    height: 200px;
    right: -60px;
    bottom: -40px;
  }
  .lg2 {
    width: 200px;
    height: 250px;
    left: -100px;
    bottom: -70px;
  }
}
