.slider {
  margin: 80px 0;
  height: 200px;
  display: block;
  perspective: 1000px;
  position: relative;
  width: 100vw;
}

.slide {
  margin-left: -50px;
  display: inline-block;
  width: 400px;
  position: absolute;
  backface-visibility: hidden;
  transition: 0.4s all;
  border-radius: 20px;
  color: white;
  backdrop-filter: blur(10px);
  border: double 1px transparent;
  border-radius: 30px;
  background-image: linear-gradient(#0200546b, #0000006b),
    linear-gradient(to right, #661dee73, #009dff75);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.slide-container {
  padding: 20px 30px;
}

.slide-container ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.slide-container ul li {
  padding: 0;
}

.slide.active {
  z-index: 4;
}
