.actionsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clickableActionPrimary,
.clickableActionSecondary {
  /* Frame 2 */
  box-sizing: border-box;

  /* Auto layout */
  margin-top: 15px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 8px 32px;
  gap: 8px;
  width: 358px;
  background: radial-gradient(
    382.53% 14823.28% at 46.39% 50%,
    #fff9f0 0%,
    #dccab8 100%
  );

  /* Secondary/700 */
  border-width: 1px 6px 4px 1px;
  border-style: solid;
  border-color: var(--secondary);

  /* Button */
  box-shadow: 0px 6px 80px rgba(191, 158, 123, 0.07);
  border-radius: 20px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.clickableActionPrimary:hover,
.clickableActionSecondary:hover {
  opacity: 0.7;
}

.clickableActionAutoWidth {
  width: auto;
}

.clickableActionPrimary {
  border-color: var(--primary);
}

.clickableActionSecondary:active,
.clickableActionPrimary:active {
  transform: translateY(1px);
  box-shadow: 0 2px var(--secondary300);
}

.clickableActionTitle {
  /* Button/16px */

  font-family: "QuickZap";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  text-align: left;
  /* identical to box height, or 150% */

  /* Secondary/700 */
  color: #402d28;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.clickableActionDescription {
  font-size: 11px;
  text-align: left;
}

.viewMore {
  font-family: "QuickZap";
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.viewMore:hover {
  opacity: 0.7;
}

.clickableIconPrimary,
.clickableIconSecondary {
  background-color: var(--primary300);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25%;
  width: 35px;
  height: 35px;
}

.clickableIconSecondary {
  background-color: var(--secondary300);
}

.renewalIcon {
  font-family: "QuickZap";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  color: var(--primary);
}

.renewalIconOff {
  font-family: "QuickZap";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  color: var(--secondary);
}

@media (max-width: 1024px) {
  .clickableActionPrimary,
  .clickableActionSecondary {
    width: 100%;
  }
}
