.menuItem {
  margin-left: 2.5rem /* 40px */;
  font-size: 0.875rem /* 14px */;
  line-height: 1.25rem /* 20px */;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 600;
  color: var(--secondary);
  text-transform: underline;
  transition: 0.3s ease-in-out;
  position: relative;
}

.menuBurger {
  margin-left: 2.5rem /* 40px */;
  cursor: pointer;
  position: relative;
}

.menuBurger[aria-expanded="true"]::before,
.menuBurger:hover::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  transform: translate(-50%, -50%);
  background-color: red;
  z-index: -1;
  border-radius: 100px;
  background: var(--light-tertiary);
}

.menuItem:hover {
  opacity: 0.7;
}

.menuItemSmall {
  padding-top: 1rem /* 16px */;
  padding-bottom: 1rem /* 16px */;
  font-size: 0.875rem /* 14px */;
  line-height: 1.25rem /* 20px */;
  color: var(--dark-content);
  /* Body/default/bold */
  font-family: Poppins-Bold;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  line-height: 28px; /* 175% */
  letter-spacing: 0.16px;
}

.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  height: 12vh;
}

@media (max-width: 768px) {
  .navbarContainer {
    height: 80px;
  }
}

.mobileNavbarShown {
  animation: mobileNavbarIn 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.mobileNavbarHidden {
  display: none;
  animation: mobileNavbarOut 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

@keyframes mobileNavbarIn {
  0% {
    mask: radial-gradient(
      black 0%,
      black 50%,
      transparent 50%,
      transparent 100%
    );
    mask-repeat: no-repeat;
    mask-size: 1% 1%;
    mask-position: 50% 50%;
  }
  100% {
    mask: radial-gradient(
      black 0%,
      black 50%,
      transparent 50%,
      transparent 100%
    );
    mask-size: 200% 200%;
    mask-position: 50% 50%;
  }
}

@keyframes mobileNavbarOut {
  0% {
    display: flex;
    mask: radial-gradient(
      black 0%,
      black 50%,
      transparent 50%,
      transparent 100%
    );
    mask-size: 200% 200%;
    mask-position: 50% 50%;
  }
  100% {
    display: flex;
    mask: radial-gradient(
      black 0%,
      black 50%,
      transparent 50%,
      transparent 100%
    );
    mask-repeat: no-repeat;
    mask-size: 1% 1%;
    mask-position: 50% 50%;
  }
}
