.page {
  padding-top: calc(max(11vh, 80px) + 64px);
  /* padding-bottom: 40px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 88vh;
  color: var(--dark-content);
  width: 100%;
}

.subtitle {
  margin-bottom: 0.5rem;
  color: #454545;
  font-size: 14px;
  line-height: 20px;
}

.tree1,
.tree2 {
  position: fixed;
  overflow: clip;
  bottom: 0;
}
.tree1{
  width: 253px;
  height: 392px;
  left: 0;
  bottom: 0;
}
.tree2{
  width: 297px;
  height: 395px;
  right: 0;
}
.balloon,
.coconut {
  position: fixed;
  width: 114px;
  height: 114px;
  transform: rotate(-14.355deg) translate(-300px, -300px);
}

.coconut {
  width: 52px;
  height: 52px;
  transform: rotate(67.05deg) translate(101.71px, -372.97px);
}

.title {
  text-align: center;

  /* Title/H1 */
  font-family: "QuickZap";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 58px; /* 120.833% */
  color: var(--secondary);
  max-width: 618px;
}

.title strong {
  color: var(--primary);
  font-family: "QuickZap";
}

.description {
  max-width: 500px;
  color: #8C8989;
  text-align: center;
  font-family: Poppins-Regular;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-top: 1rem;
}

.form {
  margin-top: 3rem;
  width: 30rem;
  max-width: 90%;
}

.errorMessage {
  color: var(--negative);
  text-align: center;
  margin-bottom: 0.5rem;
}

.input {
  display: flex;
  height: 56px;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
  align-self: stretch;
  margin-bottom: 1.5rem;
  background-color: var(--background);
  border: 1px solid #cdcccc;
  padding: 0 10px;
  color: var(--brown);
  background: white;
  box-shadow: var(--small-shadow);
  border-radius: 0.5rem;
  max-width: calc(100vw - 2rem);
  width: 500px;
}

.errorMessage + input {
  border: 1px solid var(--negative);
}

.confirmContainer {
  width: 1184px;
  display: flex;
  border-radius: 20px;
  background-color: var(--background-light);
  box-shadow: var(--small-shadow);
}

.bannerContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 20px;
  background: var(--dark-content);

  /* Small Shadow */
  box-shadow: var(--small-shadow);
  padding: 46px;
}

.confirmBanner {
  border-radius: 20px;
}

.confirmContent {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem;
}

@media screen and (max-width: 768px) {
  .page{
    padding-inline: 16px;
  }
  .description{
    font-size: 14px;
  }
  .tree1{
    left: -114px;
    bottom: -105px;
    scale:0.8;
  }
  .tree2{
    right: -140.75px;
    bottom: -78px;
    scale: 0.75;
  }
  .balloon {
    position: absolute;
    transform: rotate(-14.355deg);
    left: -5px;
    top: 10%;
  }
  .title {
    font-size: 32px;
    line-height: 42px;
  }
}
