.sidebar {
  width: 300px;
  background: white;
  margin-top: 40px;
  border-radius: 24px;
  min-height: 560px;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  
}
.sidebar_content {
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: space-between;
  min-height: 560px;
}
.sidebar_menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}
.sidebar_item {
  font-size: 14px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  cursor: pointer;
  font-weight: bold;
}
.sidebar_item:hover {
  opacity: 0.8;
}

.smBackground {
  display: none;
}
.lgBackground {
  position: relative;
  border-radius: 24px;
}
.lg_land {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-radius: 0 0 24px 24px;
}
.lg_leaves {
  position: absolute;
  bottom: 0;
   width: 100%;
  border-radius: 24px;
}
.sm_land {
  position: absolute;
  bottom: 0;
   width: 100%;
  border-radius: 0 0 24px 24px;
}
.sm_leaves {
  position: absolute;
  bottom: 0;
   width: 100%;
  border-radius: 24px;
}

@media (max-width: 720px) {
  .sidebar {
    position: relative;
    min-height: min-content;
    border-radius: 24px;
    width: calc(100% - 2rem);
    margin-bottom: calc(20% - 2rem);
    margin-left: auto;
    margin-right: auto;
  }
  .sidebar_content {
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: space-between;
  min-height: min-content;
}
  .smBackground {
    display: block;
    position: relative;
    border-radius: 24px;
    margin-top: 15%;
  }
  .lgBackground {
    display: none;
  }
}
