.secondTitle {
  font-family: "QuickZap";
  font-size: 2rem;
  margin-top: 2rem;
  color: var(--soft-brown);
  text-transform: uppercase;
  text-align: center;
}

.title {
  font-family: "QuickZap";
  font-size: 4rem;
  color: var(--green);
  text-shadow: 2px 2px var(--soft-brown);
  text-transform: uppercase;
  text-align: center;
}

.firstLeaf {
  position: absolute;
  bottom: 200%;
  z-index: 1000;
}

.secondLeaf {
  position: absolute;
  right: 0%;
  bottom: 0%;
}
