.textfield {
  border-radius: 7.983px;
  font-family: "Poppins-Regular";
}

.inputWhite {
  background-color: white;
  box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 0.06);
  border-radius: 7.983px;
}

.radioWhite {
  background-color: #FFFFFF;
  border-radius: 7.983px;
  padding: 8px 15px;
  box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 0.06);
  border: 1px solid rgba(0, 0, 0, 0.23);
}

.textfieldNumber {
  text-align: center;
}

.errorLegend,
.legend {
  color: #6d696a;
  /* Body/small/medium */
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  align-self: flex-start;
}

.errorLegend {
  color: red;
}
