.textfield {
  border-radius: 7.983px;
  font-family: "Poppins-Regular";
}

.textfieldNumber {
  text-align: center;
}

.errorLegend,
.legend {
  color: #6d696a;
  /* Body/small/medium */
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  align-self: flex-start;
}

.errorLegend {
  color: red;
}
