.timerFixed {
  position: absolute;
  bottom: 34px;
  display: flex;
  padding: 8px 12px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  border-width: 1px;
  border-color: var(--secondary);
  background: var(--background);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 298px;
  height: 84px;
  z-index: 0;
}

.timer {
  position: relative;
  display: flex;
  padding: 8px 12px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: var(--background);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 298px;
  height: 84px;
  margin: 48px auto;
}

.timer::after {
  content: "";
  position: absolute;
  top: -10px;
  right: -10px;
  left: 0;
  bottom: 0;
  background: var(--background);
  border-radius: 8px;
  z-index: -1;
}

.timer::before {
  content: "";
  position: absolute;
  top: -1px;
  right: -1px;
  left: 1px;
  bottom: 1px;
  background: var(--background);

  border-radius: 8px;
  z-index: -1;
}

.timerBackground {
  position: absolute;
  right: 23px;
  bottom: 25px;
  border-radius: 8px;
  background: var(--background);

  width: 270px;
  height: 84px;
  mask: linear-gradient(3deg, transparent 80%, black);
}

.title {
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  background: var(--primary);
  background-clip: text;
  font-family: "Poppins-Bold";
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.categories {
  display: flex;
  flex-direction: row;
  color: var(--secondary);
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  width: 296px;
  padding: 0 12px;
}

.categories > div {
  margin-right: 36px;
  width: 68px;
  text-align: left;
}

.dates {
  display: flex;
  flex-direction: row;
  color: var(--secondary);
  font-family: "Poppins-Bold";
  text-align: right;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.16px;
}

.dates > div {
  width: 65px;
  text-align: left;
}

.space {
  padding: 0 13px;
}

.day {
  padding: 0 15px 0 12px;
}

.hour {
  padding: 0 15px 0 12px;
}

.minute {
  padding: 0 15px 0 27px;
}

.second {
  text-align: right !important;
}
