.menu {
  position: absolute;
  background-color: var(--beige);
  align-self: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  padding: 45px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

.blackFilter {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.192);
  z-index: auto;
}

.menu_close {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 22px;
  stroke: black;
  cursor: pointer;
  transition: 0.3s;
  background-color: transparent;
  border: none;
}

.menu_close:hover {
  stroke: rgb(124, 124, 124);
}

.menu_title {
  color: var(--brown);
  font-family: "Readex Pro", Verdana, sans-serif;
  font-size: 21px;
  font-weight: bold;
  text-align: center;
}

@media (max-width: 820px) {
  .menu {
    width: 90%;
  }

  .menu_title {
    font-size: 19px;
    margin: -7px -2px 2px;
  }
}
