.menu {
  position: absolute;
  background-color: var(--background);
  align-self: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  padding: 35px;
  width: 380px;
  display: flex;
  flex-direction: column;
  z-index: 1000;
  --tw-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
  --tw-shadow-colored: 0px 4px 20px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.menu_close {
  position: absolute;
  top: 20px;
  right: 16px;
  width: 22px;
  stroke: black;
  cursor: pointer;
  transition: 0.3s;
  background-color: transparent;
  border: none;
}

.menu_close:hover {
  stroke: rgb(124, 124, 124);
}

.modalContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 12px;
}

.wallet {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem;
  border-radius: 0.375rem;
  --tw-shadow: 0px 2px 12px rgba(0, 0, 0, 0.12);
  --tw-shadow-colored: 0px 2px 12px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  cursor: pointer;
}

.walletName {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(31 41 55);
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

.legend {
  color: #6d696a;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.walletIcon {
  width: 32px;
  height: 32px;
}

.modalTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  text-align: center;
}

.modalTitle span {
  color: #6d696a;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.modalTitle p {
  font-size: 19px;
  font-weight: bold;
  margin-bottom: 12px;
}

.connectBtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.btnIcon {
  width: 20px;
  height: 20px;
}

.arrowDown {
  width: 25px;
  height: 25px;
  background-color: green;
  border-radius: 100%;
}

@media (max-width: 1024px) {
  .menu {
    width: 320px;
    padding: 30px;
  }

  .modalTitle {
    margin: -7px -2px 2px;
  }
}
