.wrapperScreen {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  height: calc(100% - 12vh);
}

.container,
.containerVariant {
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: center;
}

.upsellIllustration,
.illustration,
.illustrationVariant {
  width: 450px;
  align-self: stretch;
}

.illustrationVariant {
  width: 520px;
}

.upsellIllustration {
  width: 400px;
}

.illustrationContainer,
.illustrationContainerVariant {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.description {
  color: var(--content-600, #8c8989);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.descriptionVariant {
  color: var(--content-500);

  /* Body Text/ Medium/ Medium */
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 175% */
  letter-spacing: -0.32px;
  max-width: 487px;
}

.title {
  font-family: "QuickZap";
  font-size: 3.5rem;
  color: var(--secondary);
  text-shadow: 1px 1px var(--tertiary);
  text-transform: uppercase;
}

.titleVariant {
  color: var(--content-500);
  font-family: "QuickZap";
  font-size: 43px;
  font-style: normal;
  font-weight: 400;
  line-height: 58px; /* 134.884% */
}

.upsellContainer {
  display: flex;
  width: 1441px;
  height: 924px;
  padding: 64px 128px;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  flex-shrink: 0;
}

.upsellButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}

.upsellButtons p {
  font-family: "QuickZap";
  text-transform: uppercase;
  cursor: pointer;
}

.backArrow {
  width: fit-content;
  flex-shrink: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  font-family: "Poppins-Bold";
  transition: 0.3s ease-in-out;
}

.backArrow:hover {
  opacity: 0.7;
}

.searchBarVariant {
  width: 500px;
  max-width: 100%;
}

@media (max-width: 1024px) {
  .illustrationContainer {
    display: none;
  }

  .wrapperScreen {
    justify-content: start;
    padding-top: 3rem;
  }

  .containerVariant {
    flex-direction: column-reverse;
    justify-content: start;
    padding-bottom: 6rem;
  }

  .illustrationContainerVariant {
    width: 100%;
    height: 100%;
  }

  .illustrationVariant {
    margin: 0 auto;
  }

  .title {
    font-size: 2.5rem;
    text-align: center;
  }

  .titleVariant {
    font-size: 1.5rem;
    line-height: 28px;
  }

  .descriptionVariant {
    text-align: center;
    font-size: 14px;
    line-height: 20px;
  }
  .searchBarVariant {
    width: 100%;
  }
}
