.container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 3rem;
  min-height: 88vh;
  margin-top: 12vh;
}

.searchBarContainer {
  display: flex;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  margin-bottom: 1.25rem;
  flex-direction: column;
  gap: 1.25rem;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 36rem;
}

.illustration {
  width: 440px;
  height: 428.53px;
}

.description {
  color: var(--content-600);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

@media (max-width: 1024px) {
  .illustration {
    display: none;
  }
  .searchBarContainer {
    text-align: center;
  }
}
