.container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 3rem;
  position: relative;
  flex-wrap: wrap-reverse;
  height: 85vh;
}

.searchBarContainer {
  display: flex;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  margin-top: 1.25rem;
  justify-content: center;
  width: 34rem;
}

.illustration {
  width: 400px;
}

@media (max-width: 1024px) {
  .illustration {
    display: none;
    width: 200px;
  }
}
