@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Montserrat-ExtraBold";
    src: url(../public/fonts/montserrat/Montserrat-ExtraBold.ttf);
  }
  @font-face {
    font-family: "Montserrat-Regular";
    src: url(../public/fonts/montserrat/Montserrat-Regular.ttf);
  }
}

:root {
  --green: #19aa6e;
  --brown: #402d28;
  --soft-brown: #bf9e7b;
  --beige: #fff9f0;
  --nimiq-ease: cubic-bezier(0.25, 0, 0, 1);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h1 {
  font-family: "Montserrat-ExtraBold";
  font-size: 8em;
  color: var(--green);
  text-shadow: 4px 4px var(--soft-brown);
}

a {
  color: inherit;
  text-decoration: none;
}

.custom-btn {
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: var(--green);
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: 7px 7px 20px 0px black;
  outline: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: var(--brown);
    background: var(--beige);
  }
}
