.screen {
  height: 100vh;
  z-index: 0;
  position: relative;
  padding-top: 12vh;
  background-color: var(--beige);
}

.wrapperScreen {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  height: calc(100% - 12vh);
  justify-content: center;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.containerGallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  max-height: 100%;
  max-width: 50rem;
  overflow-y: auto;
}

.title {
  font-family: "QuickZap";
  font-size: 2.5rem;
  color: var(--primary);
  text-shadow: 1px 1px var(--tertiary);
  text-transform: uppercase;
  text-align: center;
}

.cardTitle {
  font-family: "QuickZap";
  font-size: 2rem;
  color: var(--primary);
  text-transform: lowercase;
  text-align: center;
}

.cardColumn,
.cardCenter,
.card {
  margin-top: 1rem;
  padding: 1rem;
  color: inherit;
  text-decoration: none;
  border: 2px solid var(--tertiary);
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 100%;
  background-color: var(--beige);
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  overflow-wrap: break-word;
}

.cardColumn,
.cardCenter {
  justify-content: center;
  margin-top: 0.5rem;
}

.cardColumn {
  flex-direction: column;
}

.cardColumn:hover,
.cardColumn:focus,
.cardColumn:active,
.cardCenter:hover,
.cardCenter:focus,
.cardCenter:active,
.card:hover,
.card:focus,
.card:active {
  border-color: var(--primary);
}

.card:hover h2,
.card:focus h2,
.card:active h2 {
  color: var(--primary);
}

.card text {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.cardCenter p {
  margin: 0;
  font-size: 1rem;
  line-height: 1;
}

.firstLeaf {
  position: fixed;
  bottom: 0%;
  width: 200px;
  z-index: -1000;
  overflow: hidden;
}

.secondLeaf {
  position: fixed;
  right: 0%;
  bottom: 0%;
  width: 200px;
  z-index: -1000;
  overflow: hidden;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .title {
    font-size: 2rem;
  }
  .container {
    height: 85vh;
  }

  .firstLeaf,
  .secondLeaf {
    width: 150px;
  }
}

@media (max-width: 768px) {
  .container {
    height: 85vh;
  }
  .title {
    font-size: 2rem;
  }

  .cardTitle {
    font-size: 1.5rem;
  }

  .firstLeaf,
  .secondLeaf {
    visibility: hidden;
  }
}
