.section1 {
  height: 100vh;
  padding: 4rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.section2 {
  min-height: 80vh;
  flex-direction: column;
  padding: 4rem 4rem;
  background-color: var(--soft-brown);
}

.section3 {
  min-height: 120vh;
  padding: 4rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  position: relative;
}

.subsection {
  display: flex;
  flex: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title {
  font-family: "Montserrat-ExtraBold";
  font-size: 8rem;
  color: var(--green);
  text-shadow: 4px 4px var(--soft-brown);
  text-transform: uppercase;
}

.subtitle {
  font-size: 1.5rem;
  text-align: center;
  color: var(--soft-brown);
}

.secondTitle {
  font-family: "Montserrat-ExtraBold";
  font-size: 2rem;
  margin-top: 0.5rem;
  color: var(--brown);
  text-transform: uppercase;
}

.thirdTitle {
  font-family: "Montserrat-ExtraBold";
  font-size: 4rem;
  color: var(--green);
  text-shadow: 2px 2px var(--soft-brown);
  text-transform: uppercase;
  text-align: center;
}

.title,
.secondTitle,
.description {
  text-align: center;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 4px solid var(--beige);
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 33%;
  background-color: var(--beige);
}

.card2 {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 4px solid var(--beige);
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--beige);
  justify-content: center;
}

.card2:active,
.card2:hover,
.card2:focus,
.card:hover,
.card:focus,
.card:active {
  border-color: var(--green);
}
.card h2 .card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}
.card2:hover h2,
.card2:focus h2,
.card2:active h2,
.card:hover h2,
.card:focus h2,
.card:active h2 {
  color: var(--green);
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.firstLeaf {
  position: absolute;
  bottom: -1%;
  width: 300px;
  z-index: -1000;
  overflow: hidden;
}

.secondLeaf {
  position: absolute;
  right: 0%;
  bottom: -1%;
  width: 300px;
  z-index: -1000;
  overflow: hidden;
}

.thirdLeaf {
  position: absolute;
  right: 0%;
  top: -1%;
  transform: rotate(180deg);
  width: 300px;
  z-index: -1000;
  overflow: hidden;
}

.fourthLeaf {
  position: absolute;
  transform: rotate(180deg);
  left: -1%;
  top: -1%;
  width: 300px;
  z-index: -1000;
  overflow: hidden;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .title {
    font-size: 6rem;
  }

  .subsection {
    padding: 2rem 2rem;
  }

  .section2 {
    padding: 2rem 2rem;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 3rem;
  }
  .card {
    width: 90%;
  }
  .card2 {
    width: 90%;
  }
  .section2 {
    padding: 1rem 1rem;
  }
  .subsection {
    flex-direction: column;
  }
  .firstLeaf,
  .secondLeaf {
    width: 200px;
  }
  .thirdLeaf,
  .fourthLeaf {
    width: 100px;
  }
}
