.menuItem {
  margin-left: 2.5rem /* 40px */;
  font-size: 0.875rem /* 14px */;
  line-height: 1.25rem /* 20px */;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 600;
  color: #402d28;
}

.menuItem {
  text-transform: underline;
}

.menuItemSmall {
  padding-top: 1rem /* 16px */;
  padding-bottom: 1rem /* 16px */;
  font-size: 0.875rem /* 14px */;
  line-height: 1.25rem /* 20px */;
}
