.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 90%;
  width: -webkit-fill-available;
  margin: 12vh auto 0 auto;
  height: 100%;
  overflow-y: auto;
}

.gallery {
  margin: 3rem 40px 4rem;
  border-radius: 20px;
  background: #fffcf8;
  box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 0.06);
  width: -webkit-fill-available;
  padding: 32px 64px;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.subtitle {
  color: #6d696a;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 142.857% */
  margin-bottom: 8px;
}

.title {
  color: #454545;
  font-family: "QuickZap";
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 106.667% */
  margin-bottom: 48px;
}

.nfts {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

@media (max-width: 768px) {
  .title {
    font-size: 24px;
    margin-bottom: 2rem;
  }
  .subtitle {
    font-size: 14px;
    font-weight: lighter;
  }
  .container {
    max-width: 100%;
    width: 100%;
    padding-right: 0;
  }
  .gallery {
    margin: 0;
    padding: 2rem 2rem;
    width: calc(100% - 2rem);
    margin-left: 1rem;
    margin-bottom: 3rem;
    gap: 3rem;
  }
}
