.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--background);
  justify-content: space-between;
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
  z-index: 0;
}

.subtitle {
  color: #6d696a;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 142.857% */
  margin-bottom: 8px;
}

.title {
  color: #454545;
  font-family: "QuickZap";
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 106.667% */
  margin-bottom: 48px;
}

.nfts {
  margin: 0 150px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.purchaseStepNav {
  display: none;
}

.purchaseStepNavMobile {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid #4545451a;
  border-radius: 16px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.06);
}

/* Mobile styles - apply for smaller devices only */
@media (max-width: 765px) {
  .title {
    font-size: 24px;
  }

  .subtitle {
    font-size: 14px;
    font-weight: lighter;
  }

  .container {
    max-width: 100%;
    width: 100%;
    padding-right: 0;
  }

  .nfts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 1rem;
    margin: 0;
    justify-items: center;
  }

  .purchaseStepNavMobile {
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.06);
  }
}

/* Tablet & Desktop styles */
@media (min-width: 765px) {
  .purchaseStepNav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    flex-shrink: 0;
    background-color: white;
    border: 1px solid #4545451a;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.06);
  }

  .purchaseStepNavMobile {
    display: none;
  }

  .step {
    padding: 12px;
  }
}
