.screen {
  height: 88vh;
  position: relative;
  margin-top: 12vh;
}

.wrapperScreen {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100% - 12vh);
  padding: 0rem 0rem 2rem;
}

.container {
  height: 100%;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.banner {
  display: flex;
  width: 80%;
  gap: 3rem;
  border-radius: 20px;
  box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 0.06);
  max-height: 430px;
  background: var(--background-paper, #FFF);
}

.button_text {
  display: flex;
  gap: 1rem;
}

.domainContainer {
  overflow: hidden;
  padding: 2rem;
  width: 90%;
  border-radius: 20px;
  box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 0.06);
  max-height: 600px;
  background: var(--background-paper, #FFF);
}

.domain_list {
  display: flex;
  flex-direction: row;
  gap: 48px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 64px 0 0 0;
}

.domain_box {
  width: 100%;
  max-width: calc(50% - 24px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 16px;
  border-radius: 12px;

  border-radius: 12px;
  background: var(--background-light, #FFFCF8);
  box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 0.06);
}

.domainName {
  color: var(--secondary);
  font-family: Poppins-Bold;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

.image {
  border-radius: 20px;
  width: 50%;
  aspect-ratio: 1;
}

.button_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.progress_bar_container {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.connectButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.connectEthLayout {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}

.banner_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  padding: 3rem;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .title {
    font-size: 2rem;
  }

}

@media (max-width: 768px) {
  .title {
    font-size: 2rem;
  }

  .banner {
    flex-direction: column;
    height: auto;
    gap: 1rem;
    max-height: none;
  }

  .image {
    width: 100%;
    height: auto;
    aspect-ratio: 1;
  }

  .wrapperScreen {
    height: auto;
  }

  .domain_list {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

}