.screen {
  height: 100vh;
  background-color: var(--beige);
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  font-family: "Montserrat-ExtraBold";
  font-size: 4.5rem;
  color: var(--green);
  text-shadow: 1px 1px var(--soft-brown);
  text-transform: uppercase;
  text-align: center;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.firstLeaf {
  position: absolute;
  right: 0%;
  top: -1%;
  transform: rotate(180deg);
  width: 300px;
  z-index: -1000;
  overflow: hidden;
}

.secondLeaf {
  position: absolute;
  transform: rotate(180deg);
  left: -1%;
  top: -1%;
  width: 300px;
  z-index: -1000;
  overflow: hidden;
}

.thirdLeaf {
  position: absolute;
  transform: rotate(90deg);
  bottom: 0%;
  left: 0%;
  width: 300px;
  z-index: -1000;
}

.fourthLeaf {
  position: absolute;
  right: 0%;
  bottom: 0%;
  width: 300px;
  z-index: -1000;
}

.legend {
  color: var(--brown);
  font-weight: 600;
  font-size: 1.5rem;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .title {
    font-size: 3.5rem;
  }

  .firstLeaf,
  .secondLeaf,
  .thirdLeaf,
  .fourthLeaf {
    width: 150px;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 3rem;
  }

  .firstLeaf,
  .secondLeaf,
  .thirdLeaf,
  .fourthLeaf {
    width: 100px;
  }
}
