.screen {
  height: 100vh;
  z-index: 0;
  position: relative;
  padding-top: 14vh;
  background-color: var(--beige);
}

.container {
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.firstLeaf {
  position: fixed;
  bottom: 0%;
  width: 200px;
  z-index: -1000;
  overflow: hidden;
}

.secondLeaf {
  position: fixed;
  right: 0%;
  bottom: 0%;
  width: 200px;
  z-index: -1000;
  overflow: hidden;
}

.domainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1rem;
  max-width: 1000px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.domainTitle {
  font-family: "Montserrat-ExtraBold";
  font-size: 2rem;
  color: var(--soft-brown);
  margin: 0.5rem;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .title {
    font-size: 2rem;
  }

  .domainTitle {
    font-size: 1.5rem;
  }

  .firstLeaf,
  .secondLeaf {
    width: 150px;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 2rem;
  }

  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .firstLeaf,
  .secondLeaf {
    visibility: hidden;
  }

  .domainTitle {
    font-size: 1.5rem;
  }
}
